extends layout

block content
    br
    .container
        h1 About Us
        p  Cras vel laoreet risus, sit amet pharetra risus. Cras consectetur diam sit amet orci accumsan, nec tempor nunc fermentum. Nam sit amet pulvinar nunc, nec hendrerit massa. Sed bibendum sem id odio bibendum commodo. Sed eleifend auctor volutpat. Nulla facilisi. Donec ex neque, gravida vitae tincidunt quis, dignissim id lacus. Aenean sollicitudin mi non nisi aliquet euismod. Nunc ultrices condimentum interdum. Duis ut lacinia dui, non imperdiet nulla. Nulla facilisi. Proin quis tristique dui, sit amet ullamcorper elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.
            |Phasellus non porta tellus. Maecenas eu ex dui. In ultricies felis in tincidunt vehicula. Fusce et purus non lacus ornare pharetra. Sed facilisis vehicula felis ac varius. In molestie augue quis fermentum volutpat. Cras sit amet tincidunt mauris, non volutpat turpis. Vestibulum dignissim condimentum risus, vel tincidunt nisi tincidunt a.
            |Curabitur vestibulum hendrerit justo, eu condimentum lectus ullamcorper nec. Mauris non ipsum aliquet, pulvinar libero in, ultricies neque. Cras maximus vel sem ut accumsan. Pellentesque tellus nulla, suscipit ut consectetur eu, porta accumsan est. Vestibulum vulputate vulputate arcu in venenatis. Donec cursus lectus nulla, nec cursus arcu semper a. Maecenas vitae diam in lorem vehicula bibendum. Donec dignissim leo vel interdum maximus. Aliquam mattis, tortor ut lacinia posuere, odio leo tristique ex, quis pulvinar ipsum turpis vel velit. Morbi tincidunt purus vitae ultrices pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam gravida tempus ipsum, vitae faucibus nisl viverra tempus. Proin sit amet augue eu tellus elementum fringilla. 
    .container
        .row
            .col-md-4
                img(src='/images/nodejs.png', alt='nodejs')
                p Quisque in rhoncus sem. Nullam massa justo, bibendum quis odio nec, viverra condimentum mi.Maecenas eu ex dui. In ultricies felis in tincidunt vehicula. Fusce et purus non lacus ornare pharetra.
            .col-md-4
                img(src='/images/reactjs.png', alt='nodejs')
                p Quisque in rhoncus sem. Nullam massa justo, bibendum quis odio nec, viverra condimentum mi.Maecenas eu ex dui. In ultricies felis in tincidunt vehicula. Fusce et purus non lacus ornare pharetra.
            .col-md-4
                img(src='/images/mongodb.jpeg', alt='nodejs')
                p Quisque in rhoncus sem. Nullam massa justo, bibendum quis odio nec, viverra condimentum mi.Maecenas eu ex dui. In ultricies felis in tincidunt vehicula. Fusce et purus non lacus ornare pharetra.




