extends layout

block content
    br
    .container
        form(action='/contact/send', method='post')
            h1 Contact Us
            .form-group
                label Name
                input.form-control(type='text', name='name', placeholder='Enter full name')
            .form-group
                label Email
                input.form-control(type='email', name='email', placeholder='Enter email')
            .form-group
                label Message
                textarea.form-control(name='message', placeholder='Enter message...')
            br
            button.btn.btn-deafult.btn-dark.text-white(type='submit') Send



