extends layout

block content
  .jumbotron
    .container
      h1.text-white How can we help you?
      p.text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida lacus eget nibh vehicula, a aliquet justo ultricies. Fusce quis massa felis. Nam eu vehicula mi, vehicula ornare risus. Nam accumsan tellus at libero ornare laoreet. Sed at augue lectus. Curabitur at sem eget elit rutrum ullamcorper vitae eget enim. In porta accumsan nibh
  .container
    .row
      .col-md-4
        h2 About Us
        p Pellentesque fermentum vestibulum sem eu lobortis. Cras quis elit lacinia, fringilla enim et, venenatis massa. Donec lacus magna, aliquet et orci vitae, vehicula eleifend magna.
        a.btn.btn-primary.text-white View details
      .col-md-4
        h2 Services
        p Pellentesque fermentum vestibulum sem eu lobortis. Cras quis elit lacinia, fringilla enim et, venenatis massa. Donec lacus magna, aliquet et orci vitae, vehicula eleifend magna.
        a.btn.btn-primary.text-white View details
      .col-md-4
        h2 Get into touch
        p Pellentesque fermentum vestibulum sem eu lobortis. Cras quis elit lacinia, fringilla enim et, venenatis massa. Donec lacus magna, aliquet et orci vitae, vehicula eleifend magna.
        a.btn.btn-primary.text-white View details

      



