doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scake=1, shrink-to-fit=no')
    title #{title} : TechToon
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') TechToon
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item(class=(title === 'home' ? 'active' : ''))
            a.nav-link(href='/') Home 
          if user
            li.nav-item(class=(title === 'Members' ? 'active' : ''))
                a.nav-link(href='/members') Members
          if !user
            li.nav-item(class=(title === 'Register' ? 'active' : ''))
                a.nav-link(href='/users/register') Register
            li.nav-item(class=(title === 'Login' ? 'active' : ''))
                a.nav-link(href='/users/login') Login
          li.nav-item(class=(title === 'About Us' ? 'active' : ''))
              a.nav-link(href='/about') About Us
          li.nav-item(class=(title === 'Contact' ? 'active' : ''))
              a.nav-link(href='/contact') Contact Us
        if user
          ul.nav.navbar-nav.navbar-right
            li.nav-item(class=(title === 'Logout' ? 'active' : ''))
              a.nav-link(href='/users/logout') Logout
    br
    .container
      != messages('my_message_template.jade', locals)
      //- eta use er jonno obosshoi express-messages include korar shomoy
      //- res.locals.messages = require('express-messages')(req, res)
      //- evabe likhte hobe
      block content
    br
    footer
      &copy; TechToon, 2020

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='/javascripts/bootstrap.js')
