doctype html
html
	head
		title #{title}: Express Website 
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body
		nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
			a.navbar-brand(href='/') Express
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item(class=(title === 'Home' ? 'active': ''))
						a.nav-link(href='/') Home 
							span.sr-only (current)
					li.nav-item(class=(title === 'About Us' ? 'active': ''))
						a.nav-link(href='/about') About Us
					li.nav-item(class=(title === 'contact' ? 'active': ''))
						a.nav-link(href='/contact') Contact
		block content
		footer
			p &copy; 2020; All right reserved, Buggy Bess 
		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
		script(src='/javascripts/bootstrap.js')
