extends layout

block content
    h1 Login
    p Please Login using the form below
    p.errors
        if errors
            - var count = 0;
            each e in errors
                p.alert.alert-danger= e
                - count++;
    form(method='post', action='/users/login', enctype='multipart/form-data')
        .form-group
            label Username
            input.form-control(name='username', type='text', placeholder='Username')
        .form-group
            label Password
            input.form-control(name='password', type='password', placeholder='Enter password')
        button.btn.btn-default.btn-dark(name='register', type='submit') Login




