body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer{
  background-color: #f4f4f4;
  height: 50px;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  overflow: auto;
  font-size: 1.2rem;
}


.jumbotron{
  background: url(../images/jumbotron-bg.jpg) no-repeat;
}

img{
  width: 100%;
  height: 200px;
}